<template>
  <div>
    <v-container fluid>
      <v-slide-y-transition mode="out-in">
        <v-layout column align-center>
          <v-toolbar flat color="white">
            <v-toolbar-title v-text="title"></v-toolbar-title>
              <v-divider class="mx-2" inset vertical></v-divider>
                <v-spacer></v-spacer>
                  <v-dialog v-model="dialog" max-width="500px">
                    <v-btn slot="activator" color="primary" dark class="mb-2">New Item</v-btn>
                      <v-card>
                        <v-card-title>
                          <span class="headline">{{ formTitle }}</span>
                        </v-card-title>
                          <v-card-text>
                            <v-container grid-list-md>
                              <v-layout>
                                <v-flex xs12 sm6 md4>
                                  <v-text-field v-model="editedItem.name" label="Alimento"></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6 md4>
                                  <v-text-field v-model="editedItem.pb" label="MS(%)"></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6 md4>
                                  <v-text-field v-model="editedItem.ndt" label="PB(%) - Base MS"></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6 md4>
                                  <v-text-field v-model="editedItem.ee" label="NDT(%) - Base MS"></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6 md4>
                                  <v-text-field v-model="editedItem.fnd" label="EE(%) - Base MS"></v-text-field>
                                </v-flex>
                                 <v-flex xs12 sm6 md4>
                                  <v-text-field v-model="editedItem.amido" label="FND(%) - Base MS"></v-text-field>
                                </v-flex>
                                 <v-flex xs12 sm6 md4>
                                  <v-text-field v-model="editedItem.fda" label="Amido(%) - Base MS"></v-text-field>
                                </v-flex>
                                 <v-flex xs12 sm6 md4>
                                  <v-text-field v-model="editedItem.ca" label="FDA(%) - Base MS"></v-text-field>
                                </v-flex>
                                 <v-flex xs12 sm6 md4>
                                  <v-text-field v-model="editedItem.p" label="Ca(%) - Base MS"></v-text-field>
                                </v-flex>
                                 <v-flex xs12 sm6 md4>
                                  <v-text-field v-model="editedItem.k" label="P(%) - Base MS"></v-text-field>
                                </v-flex>
                                  <v-flex xs12 sm6 md4>
                                  <v-text-field v-model="editedItem.mg" label="K(%) - Base MS"></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6 md4>
                                  <v-text-field v-model="editedItem.na" label="Mg(%) - Base MS"></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6 md4>
                                  <v-text-field v-model="editedItem.co" label="Na(%) - Base MS"></v-text-field>
                                </v-flex>
                                 <v-flex xs12 sm6 md4>
                                  <v-text-field v-model="editedItem.cu" label="Co - ppm"></v-text-field>
                                </v-flex>
                                 <v-flex xs12 sm6 md4>
                                  <v-text-field v-model="editedItem.fe" label="Cu - ppm"></v-text-field>
                                </v-flex>
                                 <v-flex xs12 sm6 md4>
                                  <v-text-field v-model="editedItem.mn" label="Fe - ppm"></v-text-field>
                                </v-flex>
                                 <v-flex xs12 sm6 md4>
                                  <v-text-field v-model="editedItem.s" label="Mn - ppm"></v-text-field>
                                </v-flex>
                                 <v-flex xs12 sm6 md4>
                                  <v-text-field v-model="editedItem.i" label="S - ppm"></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6 md4>
                                  <v-text-field v-model="editedItem.zn" label="I - ppm"></v-text-field>
                                </v-flex>
                              </v-layout>
                            </v-container>
                          </v-card-text>
                        <v-card-actions>
                          <v-spacer></v-spacer>
                          <v-btn color="blue darken-1" flat @click.native="close">Cancel</v-btn>
                          <v-btn color="blue darken-1" flat @click.native="save">Save</v-btn>
                        </v-card-actions>
                     </v-card>
                </v-dialog>
        </v-toolbar>

        <v-data-table :headers="headers" :items="desserts" hide-actions class="elevation-1" vertical>
          <template slot="items" slot-scope="props">

            <td>{{ props.item.name }}</td>
            <td class="text-xs-right">{{ props.item.ms }}</td>
            <td class="text-xs-right">{{ props.item.pb }}</td>
            <td class="text-xs-right">{{ props.item.ndt }}</td>
            <td class="text-xs-right">{{ props.item.ee }}</td>
            <td class="text-xs-right">{{ props.item.fnd }}</td>
            <td class="text-xs-right">{{ props.item.amido }}</td>
            <td class="text-xs-right">{{ props.item.fda }}</td>
            <td class="text-xs-right">{{ props.item.ca }}</td>
            <td class="text-xs-right">{{ props.item.p }}</td>
            <td class="text-xs-right">{{ props.item.k }}</td>
            <td class="text-xs-right">{{ props.item.mg }}</td>
            <td class="text-xs-right">{{ props.item.na }}</td>
            <td class="text-xs-right">{{ props.item.co }}</td>
            <td class="text-xs-right">{{ props.item.cu }}</td>
            <td class="text-xs-right">{{ props.item.fe }}</td>
            <td class="text-xs-right">{{ props.item.mn }}</td>
            <td class="text-xs-right">{{ props.item.s }}</td>
            <td class="text-xs-right">{{ props.item.i }}</td>
            <td class="text-xs-right">{{ props.item.zn }}</td>
            <td class="justify-center layout px-0">
              <v-icon small class="mr-2" @click="editItem(props.item)">
                edit
              </v-icon>
              <v-icon small @click="deleteItem(props.item)">
                delete
              </v-icon>
            </td>
          </template>
          <template slot="no-data">
            <v-btn color="primary" @click="initialize">Reset</v-btn>
          </template>
        </v-data-table>
          </v-layout>
    </v-slide-y-transition>
  </v-container>
  </div>
</template>

<script>
export default {
  data: () => ({
    dialog: false,
    title: 'teste',
    headers: [
      {
        text: 'Alimento',
        align: 'left',
        sortable: false,
        value: 'name'
      },
      { text: 'MS(%)', value: 'Valor MS(%):' },
      { text: 'PB(%) - Base MS', value: 'PB(%) - Base MS' },
      { text: 'NDT(%) - Base MS', value: 'NDT(%) - Base MS' },
      { text: 'EE(%) - Base MS', value: 'EE(%) - Base MS' },
      { text: 'FND(%) - Base MS', value: 'FND(%) - Base MS' },
      { text: 'Amido(%) - Base MS', value: 'Amido(%) - Base MS' },
      { text: 'FDA(%) - Base MS', value: 'FDA(%) - Base MS' },
      { text: 'Ca(%) - Base MS', value: 'Ca(%) - Base MS' },
      { text: 'P(%) - Base MS', value: 'P(%) - Base MS' },
      { text: 'K(%) - Base MS', value: 'K(%) - Base MS' },
      { text: 'Mg(%) - Base MS', value: 'Mg(%) - Base MS' },
      { text: 'Na(%) - Base MS', value: 'Na(%) - Base MS' },
      { text: 'Co - ppm', value: 'Co - ppm' },
      { text: 'Cu - ppm', value: 'Cu - ppm' },
      { text: 'Fe - ppm', value: 'Fe - ppm' },
      { text: 'Mn - ppm', value: 'Mn - ppm' },
      { text: 'S - ppm', value: 'S - ppm' },
      { text: 'I - ppm', value: 'I - ppm' },
      { text: 'Zn - ppm', value: 'Zn - ppm' }
    ],
    desserts: [],
    editedIndex: -1,
    editedItem: {
      name: '',
      pb: 0,
      ndt: 0,
      ee: 0,
      fnd: 0,
      amido: 0,
      fda: 0,
      ca: 0,
      p: 0,
      k: 0,
      mg: 0,
      na: 0,
      co: 0,
      cu: 0,
      fe: 0,
      mn: 0,
      s: 0,
      i: 0,
      zn: 0
    },
    defaultItem: {
      name: '',
      pb: 0,
      ndt: 0,
      ee: 0,
      fnd: 0,
      amido: 0,
      fda: 0,
      ca: 0,
      p: 0,
      k: 0,
      mg: 0,
      na: 0,
      co: 0,
      cu: 0,
      fe: 0,
      mn: 0,
      s: 0,
      i: 0,
      zn: 0
    }
  }),

  computed: {
    formTitle () {
      return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
    }
  },

  watch: {
    dialog (val) {
      val || this.close()
    }
  },

  created () {
    this.initialize()
  },

  methods: {
    initialize () {
      this.desserts = [
        {
          name: 'Frozen Yogurt',
          pb: 159,
          ndt: 6.0,
          ee: 24,
          fnd: 4.0,
          amido: 159,
          fda: 6.0,
          ca: 24,
          p: 4.0,
          k: 159,
          mg: 6.0,
          na: 24,
          co: 4.0,
          cu: 24,
          fe: 4.0,
          mn: 6.0,
          s: 24,
          i: 4.0,
          zn: 5
        }
      ]
    },

    editItem (item) {
      this.editedIndex = this.desserts.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },

    deleteItem (item) {
      const index = this.desserts.indexOf(item)
      confirm('Are you sure you want to delete this item?') && this.desserts.splice(index, 1)
    },

    close () {
      this.dialog = false
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      }, 300)
    },

    save () {
      if (this.editedIndex > -1) {
        Object.assign(this.desserts[this.editedIndex], this.editedItem)
      } else {
        this.desserts.push(this.editedItem)
      }
      this.close()
    }
  }
}
</script>
