<template>
  <v-app>
    <v-navigation-drawer class="white" persistent transition="scale-transition" v-model="drawer" enable-resize-watcher fixed app width="250" >
      <v-list class="transparent">
          <v-list-tile @click='linkto(linkpath)'>
            <v-list-tile-action><v-icon>home</v-icon></v-list-tile-action>
            <v-list-tile-title>Inicio</v-list-tile-title>
          </v-list-tile>
          <v-list-group prepend-icon="filter_list" value="true">
            <v-list-tile slot="activator">
              <v-list-tile-title>Menu</v-list-tile-title>
            </v-list-tile>
            <v-list-group sub-group no-action>
              <v-list-tile slot="activator">
                <v-list-tile-title>Ações</v-list-tile-title>
              </v-list-tile>
              <v-list-tile v-for="(op, i) in opcoes" :key="i" @click='linkto(op.linkpath)'>
                <v-list-tile-title v-text="op.title"></v-list-tile-title>
                <v-list-tile-action>
                  <v-icon v-text="op.icon"></v-icon>
                </v-list-tile-action>
              </v-list-tile>
            </v-list-group>
            <v-list-group sub-group no-action>
              <v-list-tile slot="activator">
                <v-list-tile-title>Configurações</v-list-tile-title>
              </v-list-tile>
              <v-list-tile v-for="(admin, i) in admins" :key="i"  @click='linkto(admin.linkpath)'>
                <v-list-tile-title v-text="admin.title"></v-list-tile-title>
                <v-list-tile-action>
                  <v-icon v-text="admin.icon"></v-icon>
                </v-list-tile-action>
              </v-list-tile>
            </v-list-group>
        </v-list-group>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar app :clipped-left="clipped" color="indigo darken-4" >
      <v-btn icon @click.stop="drawer = !drawer">
        <v-icon v-html="drawer ? 'chevron_right' : 'chevron_left'"></v-icon>
      </v-btn>
      <v-toolbar-title v-text="title"></v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>
    <v-content>
      <router-view/>
    </v-content>
    <v-footer :fixed="fixed" app>
      <span>&copy; 2018</span>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  data () {
    return {
      linkpath: '/',
      clipped: false,
      drawer: false,
      fixed: false,
      admins: [
        { icon: 'people_outline', title: 'Ajustes', linkpath: '/controle' },
        { icon: 'settings', title: 'Configurações', linkpath: '/configuracoes' }
      ],
      opcoes: [
        { title: 'Criar nova dieta', icon: 'note_add', linkpath: '/criar' },
        { title: 'Visualizar', icon: 'chrome_reader_mode', linkpath: '/visualizar' },
        { title: 'Atualizar', icon: 'collections_bookmark', linkpath: '/atualizar' },
        { title: 'Deletar', icon: 'delete', linkpath: '/remover' }
      ],
      title: ''
    }
  },
  name: 'App',
  methods: {
    linkto (pathname) {
      this.$router.push({ path: pathname })
    }
  }
}
</script>
